<head>
    <title>MailMan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/font-awesome-animation.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/toastr.min.css')}}">
    <link rel="icon" href="{{url_for('static',filename='images/mail_icon.png')}}">
    <script src="{{url_for('static',filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static',filename='js/toastr.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/ajax.js')}}"></script>
    <script src="{{url_for('static',filename='js/fontawesome-all.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/highlight.pack.js')}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
