<html>
  {% include "shared/header.html" %}
  <body>
      {% include "shared/navbar.html" %}
      <div class="jumbotron">
        <div class="container">
            <h1>Created by Noam Gherson.</h1>
            <script src="//platform.linkedin.com/in.js" defer type="text/javascript"></script>
            <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/noam-y-gherson-57010817" data-format="inline" data-related="false"></script>
            <h2><a href="mailto:admin@noamyg.com">Tell me what you think</a>, or just try it out:</h2>
        </div>
      </div>
        <div class="container">
            <form action="javascript:sendMailToCreator()">
              <div class="form-group">
                <label for="name">Your Name</label>
                <input type="text" class="form-control" id="name" placeholder="Your Name" required="true">
              </div>
              <div class="form-group">
                <label for="to">Send To:</label>
                <input type="text" value="admin@noamyg.com" class="form-control" id="to" placeholder="Enter email" required="true">
              </div>
              <div class="form-group">
                <label for="cc">CC:</label>
                <input type="text" class="form-control" id="cc" placeholder="A good place to put your own email address">
              </div>
              <div class="form-group">
                <label for="bcc">BCC:</label>
                <input type="text" class="form-control" id="bcc" placeholder="Shhh...">
              </div>
              <div class="form-group">
                <label for="name">Your Phone Number:</label>
                <input type="tel" class="form-control" id="phone" placeholder="Your Phone Number" required="true">
              </div>
              <div class="form-group">
                <label for="like">Did you like it?</label>
                <select class="form-control" id="like">
                  <option>Very much!</option>
                  <option>Nice, but...</option>
                  <option>Not at all!</option>
                </select>
              </div>
              <div class="form-group">
                <label for="notes">Your notes:</label>
                <textarea class="form-control" id="notes" rows="3"></textarea>
              </div>
              <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
      </div>
  </body>
</html>