<html>
  {% include "shared/header.html" %}
  <body>
      {% include "shared/navbar.html" %}
      <div class="jumbotron">
        <div class="container">
            <h1>Good, you're here!</h1>
            <h2>I'm MailMan. I'm gonna help you spread your mails around, with a simple API.</h2>
          <p class="lead">You should send requests to this site @ /sendMail (POST) with the following example:</p>
        </div>
      </div>

      <div class="jumbotron">
        <pre>
          <code class="javscript">
                $.ajax({
                    url: 'http://**ServerDNSOrIP**:{{port}}/sendMail',
                    type: 'post',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data){
                        //Do something when you're done;
                    },
                    data: JSON.stringify(
                        {
                            "t" : "message",
                            "to" : "employee@company.com",
                            "cc" : "pm@company.com",
                            "sp" : {
                                "TaskName" : "A New Task"
                            },
                            "bp" : {
                                "TaskDescription" : "Develop A Thingy"
                            }
                        }
                    )
                })
            </code>
        </pre>
      </div>

  </body>
</html>