<html>
  {% include "shared/header.html" %}
  <body>
      {% include "shared/navbar.html" %}
      <div class="jumbotron">
        <div class="container">
            <h1>Login to manage templates</h1>
        </div>
      </div>
        <div class="container">
            <form action="javascript:sendMailToCreator()">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" required="true">
              </div>
              <div class="form-group">
                <label for="password">Send To:</label>
                <input type="password" value="admin@noamyg.com" class="form-control" id="Password" placeholder="Passowrd" required="true">
              </div>
            </form>
        </div>
      </div

  </body>
</html>