<html>
  {% include "shared/header.html" %}
  <body>
    {% include "shared/navbar.html" %}

    <div class="jumbotron">
      <div class="container">
          <h1>Upload new templates:</h1>
      </div>
    </div>
    <div class="container">
        <form onsubmit="return uploadTemplate();" enctype="multipart/form-data">
            <div class="form-group">
               <label class="custom-file" for="file">
                  <input accept=".html" type="file" id="file" name="file" class="custom-file-input">
                  <span class="custom-file-control"></span>
                </label>
            </div>
            <input type="submit" class="btn btn-primary"/>
        </form>
        <table class="table" id="templates">
          <thead>
            <tr>
              <th class="col-md-2" scope="col">Delete</th>
              <th scope="col">Template Name</th>
            </tr>
          </thead>
          <tbody>
          {% for t in templates %}
            <tr>
              <td><a style="color: red;" href="/deleteTemplate/{{ t }}"><span class="glyphicon glyphicon-remove"/></a></td>
              <td><a href="/templates/{{ t }}">{{ t }}</a></td>
            </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
  </body>
</html>