body {
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
.jumbotron {
  margin: 5px 0;
  background-color:transparent;
}
.octicon{
    white-space: nowrap;
    display: inline-block;
    fill: currentColor;
}