<subject>Irregular Fix Request</subject>
<html dir="rtl">
<head>

<title>MSP Dialog</title>

</head>
<body bgcolor="#FFFFFF" text="#000000" link="#6A8DCC" vlink="#993333" dir="ltr">
<center>
<table cellpadding="15" bordercolor="#6A8DCC" width="700" border="2">
<tr>
<td colspan="2" bgcolor="#6D749F" align="center">
<font color="#FFFFFF" face="tahoma, arial"> 

<font size="+1"><b>

MSP Dialog

</b></font><br>
</font>
</td>
</tr><tr>
<td width="50" align="center">
<font face="tahoma, arial">

</font>
</td><td width="1000">
<font size="2" face="tahoma, arial">

<font size="+1" color="#6A8DCC">

Hello {fullName},<br>
Please refer to your worksheet details, and fix your attendance on {date}.<br>
</font>

<p>

</tr><tr>
<td colspan="2">

<font face="tahoma, arial" color="#6A8DCC" size="-1">

This e-mail was automatically sent by MSP Dialog. Do not respond to this e-mail.


</font>

</td>
</tr>
</table>
</center>
</body>
</html>